<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Yazi: </title>
  </head>
  <body>

    <h1>Baslik : <%= baslik %></h1>
    <p>Yazar : <%= yazar %></p>
    <p>Yorum: <%= yorumsayisi %></p>




  </body>
</html>
